<div class="jumbotron" style="position: relative">
    <div class="text-center">
           <h1 class="display-4">Vedant Adya</h1>
           <h4>BE(IT)</h4>
    </div>
    <div style="position: absolute; bottom: 5px; right: 10px;">
      
        <a href="https://www.linkedin.com/in/vedant-adya/" target="_blank" class="">
            <img src="../../assets/linkedin.png" width="32" height="32" class="rounded-circle  me-3">  

        </a>
      
        <a href="https://github.com/VedantAdya" target="_blank"  class="">
              <img src="../../assets/githubimage.jpg" width="32" height="32" class="rounded-circle  me-3">  
                
            </a>
    </div>
</div>