
<div class="container" >
    <div class="row" > 
    <!--  about me-->
        <div class="col-lg shadow border m-1">     
            <div class="text-center">
                <h2>About Me</h2>
                <img src="../../assets/photo_ss.png" alt="profile Picture" width="256" height="256" class="rounded-circle"> 
                <p>I am Vedant Adya, a dedicated Software Engineer with  strong proficiency in java,JavaScript,Angular
                    My journey has been marked by a continuous pursuit of knowledge, evidenced by my
                    completion of foundation training in RPA AutomationEdgeand a Java Full Stack course.
                    I am driven by a relentless curiosity and a desire 
                    to leverage my technical prowess to deliver innovative solutions that
                    drive success and add value to every organization I am a part of.
                </p>
            </div>
        </div>
    <!--Projects-->
        <div class="col-lg shadow border m-1">
            
            <div class="text-center">
                <h2> Featured Projects</h2>
                <h4>{{featuredProjects.name}}</h4>

         <a href="https://github.com/VedantAdya/prediction_personality">Personality Prediction</a>
        
            </div>
            <carousel>
                <div  *ngFor="let picture of featuredProjects.pictures">
                <slide><img src= {{picture}} alt="slide" style="display: block;width: 100% ;"></slide>
                </div>
            </carousel>
            <p class="mt-2">{{featuredProjects.summary}} </p>
            <p>visit portfolio section for more</p>
        
        </div>
    </div>
</div>
